asgiref==3.9.2
Authlib==1.6.5
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.3
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
ecdsa==0.19.1
idna==3.10
inflection==0.5.1
mysqlclient==2.2.7
packaging==25.0
pillow==12.0.0
pyasn1==0.6.1
pycparser==2.23
PyJWT==2.10.1
python-decouple==3.8
python-jose==3.5.0
pytz==2025.2
PyYAML==6.0.3
reportlab==4.4.4
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
sqlparse==0.5.3
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0