/* Estilos para el header de busqueda */
.search-navigation{
  font: 'Noto sans';
  display: flex;
  overflow-y: auto;
}

.search-header{
  width: 81%;
  height: 9%;
  position:fixed;
  top: 0;
  right: 0;
  padding: 0 48px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #DDE2F6;
  display: flex;          
  align-items: center; 
  justify-content: space-between;
}

.acount-section{
  float: right;
  padding-right: 0px;
  display: flex;          
  gap: 10px;
}

.acount-services{
  width: 46px;
  height: 46px;
  background-color: #E6EBFE;
  border-radius: 50%;
  display: flex;          
  justify-content: center; 
  align-items: center; 
  font-weight: 700;
  font-size: 16px;
  color: #616677;
}

/* Estilos para el input de busqueda */

.search-input{
  width: 268px;
  height: 46px;
  background-color: #FFFFFF;
  border-color: 0.01px solid #616677;
  border-radius: 23px;
  padding-left: 0 16px;
  font-size: 16px;
  text-align: center;
  color: #616677;
}
.search-input::placeholder {
  color: #616677;
}


.search-input:focus {
  border:0.1px solid #4C58ED;
  box-shadow: none; 
}

/* Estilos para el menu lateral */

.main-icon{
  width: 102px;
  height: 39px;
  margin-bottom: 2.7rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.sideBar {
  width: 19%;
  height: 100vh;
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 2px solid #DDE2F6;
}
.sideBar ul {
  list-style-type: none;
}

.sideBar ul li {
  margin: 20px 0;
  cursor: pointer;
  font-size: 18px;
  color: #616677;
}

.sideBar ul li:hover{
  color:#4C58ED;
}


/* Estilos para el contenido principal */
.content-home {
  width: 81%;
  height: 91%;
  background-color: #FAFBFF;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 2em 0;
  overflow-y: auto; 
}

.sections {
  width: 58%;
  background-color: #FFFFFF;
  border: 1px solid #DDE2F6;
  border-radius: 8px;
  /* quita overflow */
  overflow: visible;
  display: flex;
  flex-direction: column; 
  gap: 1em; 
  padding: 1em;
}


.sections section {
  padding: 10px;
  border-radius: 6px;
  min-width: 150px; 
  text-align: center;
}

.section-1{
  margin-top: 2em;
}

.text-section{
  text-align: left;
  padding: 0 20px;
  
}

.section-1 h1{
  color: #4C58ED;
}
.subtitle{
  font-size: 20px;
  font-weight: 700;
  color: #1E2134;
  margin-bottom: 20px;
}
.description{
  font-size: 16px;
  font-weight: 400;
  color: #616677;
  margin-bottom: 20px;
}

.btn-primary{
  width: 90%;
  background: #3b43f1;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.buying-power {
  margin-top: 2em;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5ef;
  color: #333;
  font-weight: 500;
}

.section-22{
  margin: 0 20px;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.action-item {
  text-align: center;
  color: #555;
  font-size: 0.9rem;
}

.icon {
  background: #f0f2ff;
  color: #3b43f1;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 6px;
}

.prime-card {
  background: #f5f7ff;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  box-shadow: -2px 5px 10px rgba(20, 19, 19, 0.266);
}

.prime-info h2 {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 4px;
}

.prime-info span {
  color: #3b43f1;
}

.bold {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.prime-info p {
  color: #555;
  font-size: 0.85rem;
  margin: 2px 0;
}

.btn-prime {
  background: #3b43f1;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-prime:hover {
  background: #2e35d6;
}

/* Estilos para las tarjetas de criptomonedas */
.section-3{
  border-top: 1px solid #e5e5ef;
  margin: 0 20px;
}

.crypto-card {
  display: flex;
  align-items: center;
  text-align: center;
  background: #f5f7ff;
  border-radius: 12px;
  box-shadow: -2px 5px 10px rgba(20, 19, 19, 0.266);
  padding: 16px;
  width: 100%;
  height: 250px;
  gap: 26px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 30px;
  padding: 0 20px;
}

.crypto-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.crypto-icon {
  width: 90px;
  height: 90px;
  
}

.crypto-info{
  width: 100%;
}

.crypto-info h3 {
  font-size: 1rem;
  color: #111;
  font-weight: 700;
  margin: 0 0 4px 0;
}

.crypto-info p {
  color: #555;
  font-size: 0.88rem;
  margin: 0;
  line-height: 1.4;
}

.crypto-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.section-4{
  border-top: 1px solid #e5e5ef;
}