.search-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end; /* Alinea todo a la derecha */
  align-items: center;
  padding: 0 1.5rem;
  background-color: #f7f8ff; /* Color de fondo Hapi */
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.account-section {
  display: flex;
  align-items: center;
}

.account-circle {
  cursor: pointer;
  background-color: #4C58ED;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s;
}

.account-circle:hover {
  background-color: #3b43f1;
}
