.carousel-section {
  width: 100%;
  padding: 4rem 5%;
  background-color: #192039;
  box-sizing: border-box;
  position: relative;
}

.carousel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-left {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
}

.carousel-left h2 {
  font-size: 4rem;
  color: #FFF;
}

.carousel-left p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #CFD0D5;
}

.carousel_title{
  color: #00E0FF;
}

.carousel-button {
  display: inline-block;
  padding: 1rem 1.3rem;
  width: 12rem;
  background-color: #00E0FF;
  color: #000;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: background-color 0.2s;
  text-align: center;
  font-size: 1.3rem;
}

.carousel-button:hover {
  background-color: #00E0FF;
}

.carousel-right {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-right img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.carousel-indicators .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8b8b8b;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicators .indicator.active {
  background-color: #FFF;
}

/* ------------ Responsive ------------ */

@media (max-width: 1024px) {
  .carousel-left{
    text-align: center;
    align-items: center;
  }
  .carousel-right img {
    max-width: 70%; 
  }

}

@media (max-width: 600px) {
  .carousel-left h2 {
    font-size: 2rem;
  }

  .carousel-left p {
    font-size: 1rem;
  }

  .carousel-right img {
    max-width: 80%;
  }

  .carousel-content {
    gap: 0.25rem; 
  }

  .carousel-section {
    padding: 2rem 5%;
  }
}
